#animelist h2 {
    display: inline-block;
}

#animelist a {
    display: inline-block;
}

.anime-title {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.episode {
  display: inline-block;
  vertical-align: middle;
  float: right;
  clear: right;
  overflow: hidden;
}

.spacer {
  width: 0px;
  float: right;
}

.episode input {
  text-align: right;
}

.popover {
  max-width: 100%;
}

.anime-detail-container {
  width: 700;
  height: 300;
}

.anime-cover-image {
  width: 200;
  height: 300;
  margin-right: 10px;
}

.anime-detail {
  max-width: 490;
  max-height: 300;
  float: right;
  overflow-y: scroll;
}

.error {
    color: red;
    text-align: center;
}
